# Loan Portfolio Data Cleaning and Transformation

In this notebook, we will focus on cleaning and transforming the loan portfolio data.
We will ensure that all columns are in the correct format, convert certain columns to categorical types, and handle missing values.
This is a critical step before proceeding with exploratory data analysis (EDA) and querying the data.

The steps we'll follow:
1. Load the dataset.
2. Apply necessary transformations (convert dates, clean columns, handle missing values).
3. Prepare the data for further analysis.

## Step 1: Load the Dataset

We'll begin by loading the loan portfolio dataset into a Pandas DataFrame to inspect the data structure.

In [6]:
import pandas as pd

# Load the dataset from the CSV file
df = pd.read_csv('loan_payments.csv')

# Display the first few rows to inspect the data
df.head()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.0,0.0,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.0,0.0,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL

## Step 2: Inspect the Dataset

We will inspect the columns and data types to identify which columns need to be transformed.

In [7]:
# Display basic information about the dataset, including column names and data types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: float64(20), int64(8), object(15)
memory usage: 17.8+ MB

## Step 3: Data Cleaning and Transformation

We have identified that certain columns in the dataset are not in the correct format:
- Date columns need to be converted to a `datetime` format.
- The `term` column needs to be cleaned by removing unnecessary text and converting to a numerical format.
- Columns like `grade`, `sub_grade`, `home_ownership`, and `loan_status` should be converted to categorical data types.
- We will handle missing values in relevant columns.

We will now import and apply a `DataTransform` class that handles these transformations.

In [9]:
# Import the DataTransform class from the data_transform.py file

from data_transform import DataTransform

## Step 4: Apply Data Transformations

We'll now use the `DataTransform` class to:
- Convert date columns (`issue_date`, `last_payment_date`, etc.) to a `datetime` format.
- Clean the `term` column to retain only the numeric value.
- Convert relevant columns to categorical data types.
- Handle missing values in the appropriate columns.

In [22]:
# Initialize the DataTransform class with the DataFrame
transformer = DataTransform(df)

# Convert date columns
date_columns = ['issue_date', 'last_payment_date', 'next_payment_date', 'last_credit_pull_date']
transformer.convert_to_datetime(date_columns)

# Clean 'term' column
transformer.clean_term_column()

# Convert relevant columns to categorical
categorical_columns = ['grade', 'sub_grade', 'home_ownership', 'verification_status', 
                       'loan_status', 'purpose', 'application_type']
transformer.convert_to_categorical(categorical_columns)

# Handle missing values
columns_with_missing_values = ['mths_since_last_delinq', 'mths_since_last_record', 'mths_since_last_major_derog']
transformer.handle_missing_values(columns_with_missing_values)

# View the transformed DataFrame
df.head()

AttributeError: Can only use .str accessor with string values!

## Step 5: Summary of Transformations

The data has now been cleaned and transformed:
- Date columns have been converted to `datetime` format.
- The `term` column has been cleaned and converted to a numerical type.
- Categorical columns have been appropriately transformed to `category` data type.
- Missing values have been handled in columns related to delinquency and records.

The dataset is now ready for further analysis and exploration in the next steps.

### **Step 6: DataFrameInfo Class for Extracting Information**

We will now use a custom `DataFrameInfo` class that will help us extract various useful information about our DataFrame, such as:
- Data types of columns
- Key statistical metrics (mean, median, standard deviation)
- Counts of distinct values in categorical columns
- Counts and percentages of missing values
- General summary of the DataFrame

This class will be helpful for quickly inspecting the DataFrame and gathering insights for our exploratory data analysis (EDA).

#### **Methods in DataFrameInfo Class**

1. **`describe_columns`**:
   - Provides a description of all columns in the DataFrame, including their data types and the number of non-null values.
   - This method helps you understand the structure and completeness of the data.

2. **`extract_statistics`**:
   - Computes key statistical metrics like mean, median, and standard deviation for numerical columns.
   - This is useful for understanding the central tendencies and variability in the numerical data.

3. **`count_distinct_categorical`**:
   - Returns the count of distinct values for all categorical columns.
   - This method helps you explore the variety of values in categorical features, which is important for understanding unique categories in columns such as `grade`, `loan_status`, etc.

4. **`print_shape`**:
   - Prints the shape of the DataFrame, i.e., the number of rows and columns.
   - Knowing the shape of your data is essential before performing any data analysis.

5. **`count_null_values`**:
   - Provides the count or percentage of NULL (missing) values in each column.
   - You can set the `percentage` argument to `True` to get the percentage of missing values instead of counts.
   - This is important for understanding the completeness of the data and handling missing values appropriately.

6. **`summary`**:
   - Combines multiple methods to print a quick summary of the DataFrame:
     - The shape (number of rows and columns)
     - Null value counts
     - Column data types and descriptions
   - This method provides an overview of the dataset in one go, making it a useful starting point for any data analysis.

In [5]:
# Import the DataFrameInfo class
from dataframe_info import DataFrameInfo

# Initialize the DataFrameInfo class with the DataFrame
df_info = DataFrameInfo(df)

# Describe columns
df_info.describe_columns()

# Get statistics (mean, median, standard deviation)
df_info.extract_statistics()

# Count distinct values in categorical columns
df_info.count_distinct_categorical()

# Print the shape of the DataFrame
df_info.print_shape()

# Get the count of null values
df_info.count_null_values()

# Get the percentage of null values
df_info.count_null_values(percentage=True)

# Print a full summary of the DataFrame
df_info.summary()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  float64
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  category
 9   sub_grade                    54231 non-null  category
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  category
 14  issue_date                   54231 non-null  datetime64[ns]
 15  loan_status                  54231 non-null  category
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  datetime64[ns]
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  datetime64[ns]
 38  last_credit_pull_date        54224 non-null  datetime64[ns]
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  category
dtypes: category(7), datetime64[ns](4), float64(21), int64(8), object(3)
memory usage: 15.3+ MB

TypeError: could not convert string to float: '5 years'